{% extends 'project/base.html' %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'project/style.css' %}">
{% block content %}
    <h1 class=" text-start mb-6 text-3xl bd-1">Name : {{ project.name }}</h1>
    <div class="flex items-center justify-between px-4">
        <a href="{% url 'project:edit_project' project.id %}" class="py-4 px-8 bg-sky-600 hover:bg-sky-400 text-white hover:text-gray-800 inline-block">Editer</a>
        <a href="{% url 'project:delete_project' project.id %}" class="py-4  px-8 bg-amber-600 hover:bg-amber-400 text-white hover:text-gray-800 inline-block">Supprimer</a>
    </div>
    <div class="border-gray-500 border-2 p-4 mb-4 mt-4 rounded-lg">
        <p class="border text-start  mb-4 text-xl border-gray-500 border-1 p-4 ">Description : {{ project.description }}</p>
        <small class="text-start">start : {{ project.start_date }}</small>
        <span>|</span>
        <small class="text-end">deadline : {{ project.deadline }}</small>
    </div>


    <a href="{% url 'project:add_todolist' project.id  %}" class=" py-4 px-8 bg-green-600  hover:bg-green-400  text-white hover:text-gray-800 inline-block">Add todolist</a>
    <div class="border-gray-500 border-2 p-4 mb-4 mt-4 rounded-lg">
        <h1 class="text-start mb-6 text-3xl  bd-1">Todolists</h1>
        <div class="mt-8 grid grid-cols-5 gap-4">
           {% for todolist in project.todolist.all %}
                <div class=" py-6 px-6 bg-green-500 text-center text-white rounded-md">
                    <a href="{% url 'project:todolist' project.id todolist.id %}">
                        <h2 class="mb-4 text-xl">{{ todolist.name|truncatewords:2 }}</h2>

                         <p class="text-sm text-slate-600">
                            {{ todolist.description|truncatewords:4 }}
                        </p>
                    </a>
                </div>
           {% endfor %}
        </div>
    </div>
{% endblock %}